@charset "utf-8";
/* 给大部分字体设置颜色和大小 */
html,body{
    color: #666;
    font-size: 12px;
}
a{
    color: #666;
    text-decoration: none;
}
/* 引入index头部 */
.songhuo{
    display:none;
}
/* 购物车头部 */
.cart-header{
    width: 100%;
    height: 98px;
    border-bottom: 2px solid #f52648;
    /* 中间盒子 */
    .cart-header-box{
        width: 1000px;
        height: 98px;
        margin: 0 auto;
        overflow: hidden;
        /* 商城logo */
        .cart-logo{
            width: 175px;
            height: 98px;
            float: left;
            a{
                width: 175px;
                height: 98px;
                background: url(../img/cart-logo.png) no-repeat;
                display: block;
            }
        }
        /* 右边进度图图片 */
        .cart-step{
            float: right;
            width: 487px;
            height: 98px;
            background: url(../img/e33adef239983ef3a761fe92b3a3bbdf.jpg) no-repeat 0 8px;
        }
    }
}
/* 购物车主要部分 */
.cart-content{
    width: 1000px;
    margin: 0 auto;
    /* 购物车头部提示信息 */
    .cart-content-top{
        height: 56px;
        line-height: 56px;
    /* 购物车头部图片 */
        .time-pic{
            width: 11px;
            height: 15px;
            display: inline-block;
            vertical-align: middle;
            margin: 0 5px;
            background: url(../img/tiem.jpg) no-repeat;
        }
    }
}
/* 购物车主体 */
.cart-content-middle{
    /* 商品信息部分 */
    .cart-content-middle-header{
        height: 36px;
        background: #f9f9f9;
        border: 1px solid #dfdfdf;
        border-left: 2px solid #f52648;
    
        color: #f52648;
        line-height: 36px;
        table{
            margin: 0 10px;
            font-size: 14px;
            font-weight: 400;
            height: 36px;
            width: 977px;
            border-collapse: collapse;
            border-spacing: 0;
            .cart-information{
                width: 46%;
                text-align: left;
            }
            .cart-price{
                width: 12%;
                text-align: center;
            }
            .cart-num{
                width: 15%;
                text-align: center;
            }
            .cart-sum{
                width: 15%;
                text-align: center;
            }
            .cart-operation{
                text-align: center;

            }
        }
    }
}
/* 商品拼接部分 */
.cart-content-middle-item{
    border: 1px solid #dfdfdf;
    table{
        margin: 0 10px;
        font-size: 14px;
        font-weight: 400;
        height: 36px;
        width: 977px;
        font-size: 12px;
        margin-top: -1px;
        margin-bottom: 25px;
        border-collapse: collapse;
        border-spacing: 0;
        tr{
            margin-bottom: 10px;
           
            
        }
    }
}

/* 第一块商品信息 */
.cart-information1{
    width: 460px;
    text-align: left;
    height: 90px;
    /* 商品图片 */
    .cart-information1-pic{
        float: left;
        box-shadow: 0 1px 2px #dfdfdf;
        position: relative;
        margin: 20px 0;
        img{
            width: 58px;
            height: 74px;
        
        }
    }
    /* 商品主要说明文字 */
    .cart-information1-info{
        float: left;
        margin-left: 35px;
        margin-top: 20px;
        .cart-information1-info-name{
            width: 240px;
            height: 40px;
            line-height: 20px;
            overflow: hidden;
            margin-top: 5px;

        }
        .cart-information1-info-size{
            width: 240px;
            height: 20px;
            line-height: 20px;
            overflow: hidden;
        }
    }
}
/* 单价 */
.cart-price1{
    width: 120px;
    text-align: center;
  vertical-align: middle;
  span{
      display: block;
      b{
          text-decoration: line-through;
      }
  }

}
/* 数量 */
.cart-num1{
    width: 138px;
    text-align: center;
  vertical-align: middle;

    .quantity{
        position: relative;
        padding: 0 23px;
        width: 28px;
        height: 22px;
        border: 1px solid #e3e2e2;
        border-radius: 2px;
        margin: 0 auto;
        box-shadow: 0 0 1px #dfdfdf;
        /* 左边减号 */
        .quantity-l{
            position: absolute;
            top: 0;
            width: 22px;
            height: 22px;
            left: 0;
            border-right: 1px solid #e3e2e2;
            font-weight: 700;
            font-size: 18px;
            line-height: 20px;
            
        }
        .quantity-l-a{
            position: absolute;
            top: 0;
            width: 22px;
            height: 22px;
            left: 0;
            border-right: 1px solid #e3e2e2;
            font-weight: 700;
            font-size: 18px;
            line-height: 20px;
        }
        /* 中间输入框 */
        input{
            width: 28px;
            border: none;
            height: 22px;
            line-height: 22px;
            text-align: center;
        }
        /* 右边加号 */
        .quantity-r{
            position: absolute;
            top: 0;
            width: 22px;
            height: 22px;
            right: 0;
            border-left: 1px solid #e3e2e2;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
        }
        .quantity-r-a{
            position: absolute;
            top: 0;
            width: 22px;
            height: 22px;
            right: 0;
            border-left: 1px solid #e3e2e2;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
        }
     
    }

}
/* 小计 */
.cart-sum1{
    width: 140px;
    text-align: center;
   vertical-align: middle;
    .cart-sum1-price{
        color: #f52648;
    }

}
/* 操作 */
.cart-operation1{
vertical-align: middle;
    text-align: center;
    width:120px;
    text-align:center;
    a{
        &:hover{
            text-decoration: underline;
        }
    }
}
/* 下面运费部分 */
.cart-content-middle-footer{
    background: #f9f9f9;
    border: 1px solid #e3e2e2;
    border-top: none;
    padding: 10px 0;
    p{
        height: 24px;
        line-height: 24px;
        margin: 5px 15px;
        font-size: 14px;
        color: #9f9f9f;
        span{
            background: #999;
            padding: 0 15px;
            margin-right: 15px;
            height: 24px;
            display: inline-block;
            color: #fff;
        }
    }
}

/* 结算部分 */
.cart-content-bottom{
    position: relative;
    border: 1px solid #ecebeb;
    z-index: 3;
    margin: 20px 0;
    overflow: hidden;
    background: #fdfcf8;
    border-bottom: 1px solid gray;
    .cart-jiesuan{
        margin: 15px 15px 0;
        line-height: 22px;
        color: #f63353;
        height: 37px;
        border-bottom: 1px dotted #cccbc6;
        width: 968px;
        font-weight: bold;
        font-size: 14px;
    }
   
}
/*结算的钱  */
.cart-money{
    width: 100%;
    overflow: hidden;
    color: #525252;
    line-height: 40px;
    .cart-money-pay{
        width: 220px;
        margin-right: 40px;
        float: right;
        height: 40px;
      
    }
}
/* 结算数字 */
.cart-money-num{
    float:left;
    b{
        color:red;
    }
}
.cart-money-sum{
    float:right;
    color: #f52648;
    font-size: 14px;
}