@charset "UTF-8";
/* 给大部分字体设置颜色和大小 */
html, body {
  color: #666;
  font-size: 12px;
}

a {
  color: #666;
  text-decoration: none;
}

/* 精灵图链接 */
/* 头部最上层的导航 */
.header-bar {
  height: 30px;
  line-height: 30px;
  background: #f2f2f2;
}

/* 导航中间的和盒子保持居中 */
.header-bar-box {
  width: 1000px;
  margin: 0 auto;
  text-indent: 18px;
  position: relative;
}

/* 手机乐蜂 */
.phone {
  float: right;
  padding: 0 0 0 10px;
  background: url(../img/a75e8782863e3748a627deaddf81037a.png) -527px -248px no-repeat;
  cursor: pointer;
  color: red;
  position: relative;
}

/* 手机小图标公用样式 */
.phone-show div p .phone-show-pic1, .phone-show div p .phone-show-pic2 {
  display: inline-block;
  width: 20px;
  height: 22px;
  vertical-align: middle;
  margin-right: 5px;
}

/* 手机鼠标移过时效果 */
.phone-show {
  display: none;
  position: absolute;
  right: -50px;
  width: 171px;
  height: 249px;
  z-index: 10;
}
.phone-show div {
  position: absolute;
  top: 28px;
  border: 1px solid #dfdfdf;
  width: 137px;
  padding-top: 6px;
  background: #fff;
  left: -6px;
}
.phone-show div img {
  width: 112px;
}
.phone-show div p .phone-show-pic1 {
  background: url(../img/a75e8782863e3748a627deaddf81037a.png) -536px -285px no-repeat;
}
.phone-show div p .phone-show-pic2 {
  background: url(../img/a75e8782863e3748a627deaddf81037a.png) -536px -316px no-repeat;
}
.phone-show span {
  float: right;
  padding: 0 0 0 10px;
  background: #fff url(../img/a75e8782863e3748a627deaddf81037a.png) -527px -248px no-repeat;
  cursor: pointer;
  color: red;
  display: block;
  position: absolute;
  top: 0;
  width: 80px;
  height: 29px;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  right: 38px;
  color: red;
}

li:hover .phone-show {
  display: block;
}

/* 导航相同样式 */
.save, .fast, .order, .welcome, .show-welcome {
  float: right;
  margin: 0 20px 0 0;
  cursor: pointer;
  text-indent: 0;
}

/* 收藏乐蜂 */
.save {
  margin-right: 10px;
}

/* 快速导航 */
.fast {
  position: relative;
  padding-right: 10px;
}

/* 快速导航鼠标移过时效果 */
.fast-show {
  position: absolute;
  display: none;
  right: 224px;
  top: 0;
  height: 269px;
  z-index: 10;
}
.fast-show div {
  position: absolute;
  top: 29px;
  border: 1px solid #dfdfdf;
  width: 137px;
  padding-top: 6px;
  background: #fff;
}
.fast-show div a {
  float: left;
  width: 66px;
  height: 28px;
  overflow: hidden;
  color: #333;
  text-indent: 12px;
  cursor: pointer;
}
.fast-show div a:hover {
  color: red;
}
.fast-show div p {
  width: 137px;
  text-align: center;
  height: 158px;
  overflow: hidden;
  color: #f52648;
  text-indent: 15px;
}
.fast-show div p img {
  display: block;
  margin: 12px auto 6px;
  width: auto;
}
.fast-show div p b {
  display: block;
}
.fast-show span {
  top: 0;
  width: 64px;
  position: absolute;
  left: 0;
  background: #fff;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  text-indent: 11px;
  padding: 0 6px 0 0;
}

li:hover .fast-show {
  display: block;
}

/* 导航右侧图标 */
i {
  width: 8px;
  height: 5px;
  background: url(../img/23122da223a7da5293a116c8f07f19d6.png) -96px 0;
  position: absolute;
  top: 15px;
  right: 0px;
}

/* 我的订单 */
.order {
  position: relative;
  padding-right: 10px;
}

/* 我的订单鼠标移过时效果 */
.order-show {
  right: 220px;
  width: 70px;
  position: absolute;
  background: #fff;
  z-index: 10;
  display: none;
  top: 0;
  overflow: hidden;
  border: 1px solid #dfdfdf;
  padding-bottom: 4px;
  text-indent: 5px;
}
.order-show .order-show-firsta i {
  right: 2px;
}
.order-show .order-show-firsta:hover {
  color: red;
}
.order-show a {
  display: block;
}
.order-show a:hover {
  color: red;
}

li:hover .order-show {
  display: block;
}

/* 欢迎登陆注册 */
.welcome a {
  color: red;
}

.show-welcome {
  display: none;
}
.show-welcome a {
  color: red;
}

/* 左边地址区 */
.address {
  padding: 0 10px;
  color: red;
  position: relative;
}
.address i {
  top: 5px;
}

/* 地址鼠标滑过效果 */
.send-select {
  position: absolute;
  left: 6px;
  top: -1px;
  min-width: 117px;
  z-index: 100;
  display: none;
  /* 省份列表 */
}
.send-select ul {
  width: 311px;
  height: 216px;
  overflow: hidden;
  border: 1px solid #dfdfdf;
  top: 29px;
  padding: 15px 0 10px;
  background: #fff;
  position: absolute;
  left: 0;
}
.send-select ul li {
  float: left;
  width: 58px;
  text-indent: 22px;
}
.send-select ul li a:hover {
  color: red;
}
.send-select span {
  background: #fff;
  position: absolute;
  left: 0;
  display: block;
  width: 97px;
  padding: 0 10px;
  height: 29px;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  top: 1px;
  text-indent: 0;
}

/* 送货框 */
.songhuo {
  width: 110px;
}

.songhuo:hover .send-select {
  display: block;
}

/* 搜索部分及下面的红色导航条 */
/* 总体的属性 */
.header-main {
  position: relative;
  width: 1000px;
  height: 130px;
  margin: 0 auto;
}

/* 左边的logo */
.logo {
  position: absolute;
  top: 8px;
  left: 0;
}
.logo a {
  width: 180px;
  height: 90px;
  display: inline-block;
  background: url(../img/254cacb8cb61853d797ed6e4c4a63d5c.gif) no-repeat;
}

/* 搜索框外部盒子 */
.search {
  float: left;
  height: 60px;
  margin: 30px 0 0 300px;
  width: 400px;
}

/* 搜索框 */
.input {
  width: 400px;
  height: 40px;
  background: url(../img/23122da223a7da5293a116c8f07f19d6.png) 0 -443px no-repeat;
  margin-top: 10px;
  position: relative;
}

/* 搜索框左边输入框 */
.input-left {
  width: 298px;
  height: 27px;
  padding: 3px 20px 5px 10px;
  border: none;
  position: absolute;
  top: 2px;
  left: 3px;
}

/* 输入框有焦点时去掉边框 */
.input-left:focus {
  outline: none;
}

/* 搜索框右边按钮 */
.input-right {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 70px;
  height: 40px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  background: none;
  border: none;
}

/* 按钮点击时去掉边框 */
.input-right:focus {
  outline: none;
}

/* 按钮下面的提示 */
.input p {
  width: 360px;
  position: absolute;
  top: 40px;
  text-indent: 16px;
  margin-top: 5px;
}
.input p a {
  color: red;
  margin-right: 3px;
}

/* 整个购物车 */
.cart {
  float: right;
  position: relative;
}

/* 购物车表面显示的 */
.cart-btn {
  width: 136px;
  height: 42px;
  background: url(../img/23122da223a7da5293a116c8f07f19d6.png) 0 -112px no-repeat;
  cursor: pointer;
  margin-top: 40px;
}
.cart-btn strong {
  position: absolute;
  right: 20px;
  top: 53px;
  color: white;
  font-size: 14px;
}

/* 底部导航条 */
.header-main-bar {
  height: 40px;
  background: #dd1e2e;
}
.header-main-bar .header-main-bar-box {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

/* 导航公用部分 */
.header-main-bar-left, .header-main-bar-center a {
  width: 220px;
  height: 40px;
  float: left;
  color: white;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
}

/* 导航左侧 */
.header-main-bar-left {
  background-color: #d62340;
}
.header-main-bar-left a {
  color: white;
}
.header-main-bar-left a b {
  width: 10px;
  height: 6px;
  background: url(../img/556ffa7b021b37316bfd2c3356022fcd.png) 0 0 no-repeat;
  display: inline-block;
}

/* 二级导航 */
.header-main-menu {
  width: 220px;
  background: white;
  position: absolute;
  top: 40px;
  z-index: 20;
}
.header-main-menu dl {
  position: relative;
  float: left;
  width: 100%;
}

/* 二级导航左边块状 */
.header-main-menu-dt {
  position: relative;
  float: left;
  width: 189px;
  padding: 10px 0 2px;
  margin: 0 7px 0 14px;
  line-height: 22px;
  overflow: hidden;
  height: 96px;
  border-bottom: 1px solid #eee;
  z-index: 20;
  /* 主要分类 */
}
.header-main-menu-dt strong {
  float: left;
  line-height: 22px;
  margin: 0 0 5px;
  overflow: hidden;
  color: #333;
  display: block;
}
.header-main-menu-dt p {
  clear: both;
  height: 72px;
  padding: 0 0 0 5px;
  line-height: 24px;
  overflow: hidden;
}
.header-main-menu-dt p a {
  padding: 0 6px 0 0;
  width: 30%;
  color: #666;
  line-height: 26px;
  font-weight: 400;
  font-size: 13px;
  table-layout: fixed;
  white-space: nowrap;
  float: left;
}
.header-main-menu-dt p a:hover {
  color: red;
}

.more-tip {
  width: 100%;
  transition: height .2s;
  height: 33px;
  overflow: hidden;
  float: left;
  line-height: 33px;
  color: #999;
  font-size: 12px;
  text-align: center;
}
.more-tip strong {
  width: 23px;
  height: 13px;
  display: inline-block;
  margin-top: 10px;
  background: url(../img/downarrow.png) no-repeat;
}

.all {
  width: 100%;
  transition: height .2s;
  height: 33px;
  overflow: hidden;
  float: left;
  line-height: 33px;
  color: #999 !important;
  font-size: 12px;
  text-align: center;
}

/* 右边鼠标移入才出现区域 */
.header-main-menu-dd {
  display: none;
  position: absolute;
  top: 0;
  left: 220px;
  background: #fff;
  color: #000;
  box-shadow: 2px 2px 3px #999;
  width: 692px;
  padding: 0 0 20px;
  height: 200px;
}
.header-main-menu-dd ul {
  float: left;
  width: 316px;
  margin: 10px 5px 0 20px;
  line-height: 24px;
  overflow: hidden;
}
.header-main-menu-dd ul li {
  margin: 0 0 5px;
  display: inline-block;
}
.header-main-menu-dd ul li strong {
  width: 70px;
  margin: 0 0 7px;
  float: left;
}
.header-main-menu-dd ul li strong a {
  color: #000;
  font-size: 13px;
  font-weight: 700;
  line-height: 33px;
}
.header-main-menu-dd ul li p {
  width: 240px;
  border-bottom: 1px dotted #ccc;
  float: left;
  padding: 4px 0 6px;
}
.header-main-menu-dd ul li p a {
  margin: 0 14px 0 0;
  line-height: 25px;
  display: inline-block;
  font-weight: 400;
  font-size: 13px;
  color: #999;
}

/* 两个暂时不可见的dl */
.header-main-menu-dl {
  display: none;
  height: 0;
  transition: height 2s;
}

/* 查看全部分类 */
.all {
  display: none;
}

/* 鼠标移入出现 */
.header-main-menu:hover .header-main-menu-dl {
  display: block;
  height: 109px;
}

/* 鼠标移入查看全部分类出现 */
.header-main-menu:hover .all {
  display: block;
}

/* 下箭头消失 */
.header-main-menu:hover .more-tip {
  display: none;
}

/* 移入效果 */
dl:hover .header-main-menu-dd {
  display: block;
}

/* 导航中间 */
.header-main-bar-center {
  height: 40px;
  float: left;
}
.header-main-bar-center a:hover {
  background-color: #d62340;
}

/* 导航右边三个图片 */
.header-main-bar-right {
  float: right;
}
.header-main-bar-right .header-logo1 {
  display: inline-block;
  width: 23px;
  height: 25px;
  margin: 7px;
  background: url(../img/23122da223a7da5293a116c8f07f19d6.png) -96px -13px no-repeat;
}
.header-main-bar-right .header-logo2 {
  display: inline-block;
  width: 23px;
  height: 25px;
  margin: 7px;
  background: url(../img/23122da223a7da5293a116c8f07f19d6.png) -119px -13px no-repeat;
}
.header-main-bar-right .header-logo3 {
  display: inline-block;
  width: 23px;
  height: 25px;
  margin: 7px;
  background: url(../img/23122da223a7da5293a116c8f07f19d6.png) -142px -13px no-repeat;
}

/* lunbotu轮播图大框 */
.banner {
  width: 100%;
  height: 360px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 40px;
  overflow: hidden;
}

.lunboimg {
  position: relative;
  width: 100%;
  height: 360px;
}

/* 轮播图片框 */
.lunboul {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}
.lunboul li {
  width: 100%;
  height: 360px;
  float: left;
  position: absolute;
  z-index: 1;
}

.lunbool {
  position: absolute;
  left: 50%;
  margin-left: -40px;
  bottom: 10px;
  z-index: 10;
}
.lunbool li {
  float: left;
  width: 100px;
  height: 40px;
  color: black;
  background: #fff;
  margin-right: 5px;
  cursor: pointer;
  text-align: center;
  z-index: 10;
  line-height: 40px;
}
.lunbool .active {
  background: #333 !important;
  color: white;
}

/*  公用部分盒子*/
.pptm-top, .pptm-content, .pptm-bottom {
  width: 1000px;
  overflow: hidden;
  margin: 0 auto;
  padding: 10px 0;
}

/* 精灵图地址 */
/* 品牌特卖顶部分类标题 */
.pptm-top {
  border-bottom: 2px solid #f99c17;
}
.pptm-top b {
  width: 118px;
  height: 40px;
  display: inline-block;
  background: url(../img/556ffa7b021b37316bfd2c3356022fcd.png) 0 -64px no-repeat;
  margin-right: 20px;
}
.pptm-top span {
  font-size: 18px;
}
.pptm-top span strong {
  color: red;
  font-weight: normal;
}
.pptm-top a {
  float: right;
  margin-top: 20px;
}

/* 品牌特卖中间内容部分外框 */
.pptm-content {
  width: 1008px;
}

/* 品牌特卖中间内容部分 */
.pptm-content-item {
  position: relative;
  float: left;
  width: 492px;
  margin: 0 6px 20px;
}
.pptm-content-item a img {
  width: 100%;
  height: 216px;
  border-radius: 3px;
  transition: box-shadow .2s;
}
.pptm-content-item a img:hover {
  box-shadow: 0 0 10px #999;
}
.pptm-content-item p {
  font-size: 14px;
  line-height: 21px;
  height: 21px;
  padding: 12px 8px 2px;
}
.pptm-content-item p span {
  color: red;
}

/* 品牌特卖下方广告内容部分 */
.pptm-bottom img {
  width: 100%;
  height: 216px;
  border-radius: 3px;
  transition: box-shadow .2s;
}
.pptm-bottom img:hover {
  box-shadow: 0 0 10px #999;
}

/* 公用盒子 */
.bkcx-top, .bkcx-content {
  width: 1000px;
  overflow: hidden;
  margin: 0 auto;
  padding: 10px 0;
}

/* 精灵图地址 */
/*  品牌特卖顶部分类标题 */
.bkcx-top {
  border-bottom: 2px solid #c835bf;
}
.bkcx-top b {
  width: 118px;
  height: 40px;
  display: inline-block;
  background: url(../img/556ffa7b021b37316bfd2c3356022fcd.png) 0 -264px no-repeat;
}

/*  品牌特卖内容 */
.bkcx-content {
  width: 1028px;
}

/*  品牌特卖渲染内容 */
.bkcx-content-item {
  background-color: #fff;
  width: 220px;
  margin: 15px;
  box-shadow: 0 0 5px #ccc;
  float: left;
  height: 350px;
  overflow: hidden;
  /* 商品图片 */
  /* 第一行文字 */
  /* 第二行文字 */
}
.bkcx-content-item dt {
  width: 100%;
  height: 253px;
  overflow: hidden;
  text-align: center;
}
.bkcx-content-item dt img {
  opacity: 1;
  transition: opacity .2s;
}
.bkcx-content-item dt img:hover {
  opacity: 0.6;
}
.bkcx-content-item .bkcx-content-item-dd1 {
  width: 200px;
  height: 38px;
  line-height: 18px;
  padding-top: 5px;
  font-size: 14px;
  overflow: hidden;
  margin: 0 auto;
}
.bkcx-content-item .bkcx-content-item-dd1 b {
  color: red;
}
.bkcx-content-item .bkcx-content-item-dd2 {
  width: 200px;
  height: 30px;
  margin: 0 auto;
  line-height: 30px;
  padding-top: 8px;
  position: relative;
  /* 购买按钮 */
}
.bkcx-content-item .bkcx-content-item-dd2 span {
  font-size: 16px;
}
.bkcx-content-item .bkcx-content-item-dd2 b {
  padding-left: 3px;
  text-decoration: line-through;
  font-weight: normal;
}
.bkcx-content-item .bkcx-content-item-dd2 a {
  width: 96px;
  height: 28px;
  display: block;
  background: url(../img/23122da223a7da5293a116c8f07f19d6.png) 0 0 no-repeat;
  overflow: hidden;
  margin-top: 10px;
  color: #fff;
  line-height: 27px;
  text-align: center;
  position: absolute;
  bottom: 6px;
  right: 2px;
}

/* 底部上面大广告图 */
.advertisement {
  height: 304px;
  width: 100%;
  background: url(../img/46acda862c37afddc05a4b865cf5320d.jpg) no-repeat 50% #f62648;
}

/* 精灵图 */
/* 底部公用部分的盒子 */
.footer-top-ul, .footer-middle-dl, .footer-bottom {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

/* 底部上面三个图标 */
.footer-top-ul {
  height: 138px;
  border-bottom: 1px dotted #c1c1c1;
}
.footer-top-ul .footer-top-li1 {
  display: inline-block;
  height: 79px;
  width: 215px;
  margin: 30px auto;
  margin-left: 107px;
  background: url(../img/23122da223a7da5293a116c8f07f19d6.png) 0 -197px no-repeat;
}
.footer-top-ul .footer-top-li2 {
  display: inline-block;
  height: 79px;
  width: 215px;
  margin: 30px auto;
  margin-left: 107px;
  background: url(../img/23122da223a7da5293a116c8f07f19d6.png) 0 -278px no-repeat;
}
.footer-top-ul .footer-top-li3 {
  display: inline-block;
  height: 79px;
  width: 215px;
  margin: 30px auto;
  margin-left: 107px;
  background: url(../img/23122da223a7da5293a116c8f07f19d6.png) 0 -359px no-repeat;
}

/* 底部中间样式 */
.footer-middle-dl {
  height: 250px;
  border-bottom: 1px dotted #c1c1c1;
}
.footer-middle-dl dt {
  float: left;
  width: 216px;
  padding: 30px 30px 0 0;
}
.footer-middle-dl dt strong {
  display: block;
  width: 174px;
  height: 112px;
  background: url(../img/a75e8782863e3748a627deaddf81037a.png) -315px -259px no-repeat;
}
.footer-middle-dl dt em {
  display: block;
  font-style: normal;
  text-indent: 8px;
}
.footer-middle-dl dd {
  float: left;
  padding: 20px 75px 0 0;
}
.footer-middle-dl dd strong {
  font-size: 16px;
  line-height: 80px;
}
.footer-middle-dl dd a {
  display: block;
  line-height: 22px;
}
.footer-middle-dl dd b {
  display: block;
  width: 77px;
  height: 77px;
  border: 1px solid #ccc;
  background: url(../img/a75e8782863e3748a627deaddf81037a.png) -229px -368px no-repeat;
  padding: 4px;
}

/* 底部最后样式 */
/* 底部公用样式 */
.footer-bottom .footer-bottom-img .footer-bottom-img1, .footer-bottom .footer-bottom-img .footer-bottom-img2, .footer-bottom .footer-bottom-img .footer-bottom-img3, .footer-bottom .footer-bottom-img .footer-bottom-img4, .footer-bottom .footer-bottom-img .footer-bottom-img5 {
  width: 110px;
  display: inline-block;
  margin-right: 20px;
  height: 36px;
}

.footer-bottom {
  margin-top: 30px;
  text-align: center;
}
.footer-bottom .footer-bottom-link {
  margin-bottom: 20px;
}
.footer-bottom .footer-bottom-link a {
  padding-right: 73px;
  color: black;
}
.footer-bottom img {
  display: inline-block;
  width: 15px;
  height: 15px;
  padding-right: 2px;
}
.footer-bottom .footer-bottom-introduce1 {
  margin: 10px 0;
}
.footer-bottom .footer-bottom-introduce2 {
  margin: 10px 0;
}
.footer-bottom .footer-bottom-img {
  padding: 10px 0 20px;
}
.footer-bottom .footer-bottom-img .footer-bottom-img1 {
  background: url(../img/cxwz.jpg) no-repeat;
}
.footer-bottom .footer-bottom-img .footer-bottom-img2 {
  background: url(../img/kxwz.png) no-repeat;
}
.footer-bottom .footer-bottom-img .footer-bottom-img3 {
  background: url(../img/zghlw.png) no-repeat;
}
.footer-bottom .footer-bottom-img .footer-bottom-img4 {
  background: url(../img/a75e8782863e3748a627deaddf81037a.png) -194px -277px no-repeat;
}
.footer-bottom .footer-bottom-img .footer-bottom-img5 {
  background: url(../img/a75e8782863e3748a627deaddf81037a.png) -194px -315px no-repeat;
}

/* 精灵图 */
/* 楼梯 */
.louti .louti-bottom1, .louti .louti-bottom2 {
  width: 67px;
  height: 75px;
  display: block;
  margin-top: 20px;
  margin-left: 67px;
  cursor: pointer;
}

.louti {
  width: 144px;
  position: fixed;
  left: 0;
  top: 30%;
  display: none;
  /* 楼梯顶部 */
  /* 楼梯下半部分 */
}
.louti .louti-top {
  width: 144px;
  height: 208px;
  background: url(../img/556ffa7b021b37316bfd2c3356022fcd.png) -118px -24px;
  position: relative;
}
.louti .louti-bottom1 {
  background: url(../img/556ffa7b021b37316bfd2c3356022fcd.png) -67px -306px no-repeat;
}
.louti .louti-bottom2 {
  background: url(../img/556ffa7b021b37316bfd2c3356022fcd.png) 0 -381px no-repeat;
}

/* 右边顶部按钮 */
.scroll {
  width: 50px;
  height: 60px;
  position: fixed;
  bottom: 100px;
  right: 30px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  display: none;
}
.scroll b {
  display: inline-block;
  background: url(../img/556ffa7b021b37316bfd2c3356022fcd.png) no-repeat -229px -243px;
  width: 27px;
  height: 39px;
  margin: 12px;
}

/* 黑幕 */
.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  z-index: 50;
  height: 3000px;
  display: block;
}

/* 黑幕上地址 */
.mask-address {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -270px;
  margin-top: -152px;
  width: 540px;
  height: 355px;
  display: none;
  z-index: 60;
  display: block;
  border-radius: 5px;
}

/* 黑幕地址标题 */
.mask-address-title {
  background: #fcfbf8;
  font-size: 16px;
  height: 54px;
  line-height: 54px;
  text-indent: 23px;
  border-radius: 5px 5px 0 0;
}

/* 黑幕地址主体部分 */
.mask-address-body {
  border-top: 1px dashed #baa780;
  background: #fcfbf8;
  width: 540px;
  height: 280px;
  overflow: hidden;
  border-radius: 0 0 5px 5px;
}
.mask-address-body dl {
  border-bottom: 1px solid #ddd6c8;
  color: #333;
  font-size: 14px;
}
.mask-address-body dl dd {
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-right: 1px solid #ddd6c8;
  background: #f1eee8;
  display: inline-block;
}
.mask-address-body dl dt {
  padding-left: 20px;
  display: inline-block;
}
.mask-address-body dl dt a {
  display: inline-block;
  margin: 0 5px;
  padding: 2px 6px;
}

/*# sourceMappingURL=index.css.map */
